/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Set a background colour and minimum height on the main element.
 */

$sagovau-main-color-background: null !default;


main {
    @if $sagovau-main-color-background != null {
        background-color: $sagovau-main-color-background;
    }

    font-size: $sagovau-font-size-base;
    min-height: 480px;
}
