/*------------------------------------*\
    #DELIMITED
\*------------------------------------*/

/**
 * Add delimiters between consecutive items.
 */

$sagovau-enable-delimited--comma:          false !default;
$sagovau-enable-delimited--forward-slash:  false !default;
$sagovau-enable-delimited--gt:             false !default;
$sagovau-enable-delimited--pipe:           false !default;




/**
 * Note: because these are displayed inline is is necessary to include
 * whitespace between each delimited element, with the expection of
 * delimited--comma.
 **/

.#{$sagovau-namespace}delimited {
    display: inline;
}


// Variations

@if $sagovau-enable-delimited--comma == true {

    .#{$sagovau-namespace}delimited--comma + .#{$sagovau-namespace}delimited:before {
        content: ", ";
    }

}

@if $sagovau-enable-delimited--forward-slash == true {

    .#{$sagovau-namespace}delimited--forward-slash + .#{$sagovau-namespace}delimited:before {
        content: "/ ";
    }

}

@if $sagovau-enable-delimited--gt == true {

    .#{$sagovau-namespace}delimited--gt + .#{$sagovau-namespace}delimited:before {
        content: "> ";
    }

}

@if $sagovau-enable-delimited--pipe == true {

    .#{$sagovau-namespace}delimited--pipe + .#{$sagovau-namespace}delimited:before {
        content: "| ";
    }

}
